# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files (Mono Auto Generated)
mono_crash.*

# Visual Studio Code directories
.vscode/
# Rider
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
_ReSharper*/
[Tt]humbs.db
[Tt]est[Rr]esult*/
[Bb]in/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in64/
[Ll]og/
[Ll]ogs/
[Ll]ogFiles/
[Tt]emp/
[Tt]est[Rr]esults/
[Rr]e[Ss]harper/
[Tt]est[Rr]esult*
*.sqlite
*.sqlite3
*.ogg
*.aac
*.mp3
*.mp4
*.wav
*.avi
*.mov
*.mpeg
*.mkv
*.flv
*.fla
*.swf
*.wmv
*.3gp
*.mpg
*.srt
*.sub
*.sbv
*.usdz
*.usda
*.usdc
*.usdzar
*.usda
*.usdb
*.usdlc
